<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h2 class="text-lg-center">Calculadora</h2>
    <div class="container">
        <div class="calculadora">
            <div>
                <input type="text" value="{{ result }}" class="result" readonly />
            </div>
            <div>
                <button class="borrar">CE</button>
                <button class="borrar"> <x </button>
            </div>
            <div class="izq">
                <button class="numero" value="7">7</button>
                <button class="numero">8</button>
                <button class="numero">9</button>
                <button class="numero">4</button>
                <button class="numero">5</button>
                <button class="numero">6</button>
                <button class="numero">1</button>
                <button class="numero">2</button>
                <button class="numero">3</button>
            </div>
            <div class="der">
                <button class="operaciones">/</button>
                <button class="operaciones">X</button>
                <button class="operaciones">-</button>
                <button class="operaciones">+</button>
                <button class="igual">=</button>
            </div>
        </div>
    </div>
</body>

</html>
